{% extends 'admin/index.html' %}
{% load static %}
{% block title %}Додати новину{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/movie_css.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<section class="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Додати новину</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                        {% if news_form.non_field_errors %}
                            <div class="alert alert-danger">{{ news_form.non_field_errors }}</div>
                        {% endif %}
                        {% if block_seo_form.non_field_errors %}
                            <div class="alert alert-danger">{{ block_seo_form.non_field_errors }}</div>
                        {% endif %}
                        {% if gallery_form.non_field_errors %}
                            <div class="alert alert-danger">{{ gallery_form.non_field_errors }}</div>
                        {% endif %}
                        {% if picture_formset.non_form_errors %}
                            <div class="alert alert-danger">{{ picture_formset.non_form_errors }}</div>
                        {% endif %}
                        {% if main_picture_form.non_field_errors %}
                            <div class="alert alert-danger">{{ main_picture_form.non_field_errors }}</div>
                        {% endif %}

                        <div class="card-body">
                            <h2>Інформація про новину</h2>

                                        <div class="card-body">
                  <div class="form-group">
                        {{ news_form.title.label_tag }}
                        {{ news_form.title }}
                        {% if news_form.title.help_text %}<small class="form-text text-muted">{{ news_form.title.help_text }}</small>{% endif %} {# ИСПРАВЛЕНО: добавлен пробел #}
                        {% for error in news_form.title.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}

                        {{ news_form.date.label_tag }}
                        {{ news_form.date }}
                        {% if news_form.date.help_text %}<small class="form-text text-muted">{{ news_form.relise_date.help_text }}</small>{% endif %} {# ИСПРАВЛЕНО: добавлен пробел #}
                        {% for error in news_form.date.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}

                        {{ news_form.is_active.label_tag }}
                        {{ news_form.is_active }}
                        {% if news_form.is_active.help_text %}<small class="form-text text-muted">{{ news_form.gallery.help_text }}</small>{% endif %} {# ИСПРАВЛЕНО: добавлен пробел #}
                        {% for error in news_form.is_active.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}


                  </div>
                </div>

                <div class="card-body">
                  <div class="form-group">
                        {{ news_form.description.label_tag }}
                        {{ news_form.description }}
                        {% if news_form.description.help_text %}<small class="form-text text-muted">{{ news_form.description.help_text }}</small>{% endif %} {# ИСПРАВЛЕНО: добавлен пробел #}
                        {% for error in news_form.description.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                  </div>
                </div>

                            <h3>Головна картинка</h3>
                {% include 'admin/card_forms/main_image.html'  %}

                <div class="card-body">
                  <div class="form-group">
                        {{ news_form.url.label_tag }}
                        {{ news_form.url }}
                        {% if news_form.url.help_text %}<small class="form-text text-muted">{{ news_form.url.help_text }}</small>{% endif %} {# ИСПРАВЛЕНО: добавлен пробел #}
                        {% for error in news_form.url.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                  </div>
                </div>
                            <h3>Картинки галереї</h3>
                           {% include 'admin/card_forms/gallery_form.html'  %}
                            <h2>SEO Інформація</h2>
                            {% include 'admin/card_forms/seo_form.html' with form=block_seo_form %}
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Створити</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



<script>
    // DEFAULT_IMAGE_URL должен быть объявлен ПЕРВЫМ среди JS, которые его используют
    const DEFAULT_IMAGE_URL = "{% static 'images/картинка.png' %}";
</script>
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}