{% block cross_banner %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">Сквозной банер на заднем фоне</h3>
            </div>
            <div class="card-body">
                <div class="banner-wrapper">
                    <div class="banner-size">Размер: 2000x3000</div>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="banner-options">
                            <input type="text" id="input_form1" name="input_form1">
                            <input type="hidden" name="which_form_is_it" value="this_is_form_1">
                            <div class="banner-photo-option">
                                <label>
                                    <input type="radio" name="{{ cross_banner_form.type.html_name }}" value="photo"
                                           {% if cross_banner_form.type.value == 'photo' or not cross_banner_form.type.value %}checked{% endif %}>
                                    Фото на фоне
                                </label>

                                <label>
                                    <input type="radio" name="{{ cross_banner_form.type.html_name }}" value="color"
                                           {% if cross_banner_form.type.value == 'color' %}checked{% endif %}>
                                    Просто фон
                                </label>

                                <div class="image-placeholder mt-2">
                                    {% if cross_banner_form.instance.cross_banner_image %}
                                        <img id="crossBannerPreview" src="{{ cross_banner_form.instance.cross_banner_image.url }}"
                                             alt="Поточне зображення"
                                             style="max-width: 100px; max-height: 60px; border: 1px solid #ccc;">
                                    {% else %}
                                        <img id="crossBannerPreview"
                                             src="#"
                                             alt="Попередній перегляд"
                                             style="max-width: 100px; max-height: 60px; border: 1px solid #ccc; display: none;">
                                    {% endif %}

                                    <input type="file" name="cross_banner_image" id="cross_banner_image" style="display: none;">
                                    {% if cross_banner_form.errors.cross_banner_image %}
                                        <div class="errorlist">{{ cross_banner_form.errors.cross_banner_image }}</div>
                                    {% endif %}
                                </div>

                                <div class="banner-actions">
                                    <button type="button" id="cross-banner-add" class="btn btn-primary mt-3">Додати</button>
                                    <button type="button" class="btn btn-primary mt-3">Видалити</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}