 {# sidebar.html #}
{% load static %}
    <div class="sidebar">
     <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


          <li class="nav-item">
          <li class="nav-item">
            <a href="{% url 'users' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Пользователи
              </p>
            </a>


           <li class="nav-item">
            <a href="{% url 'sessions_list' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Сеанси
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'movie_list' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Фільми
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'add_banners' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Банери
              </p>
            </a>
          </li>
            </li>
          <li class="nav-item">
            <a href="{% url 'news' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
               Новини
              </p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'promotion' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
               Акції
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'cinema_lists' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
               Кінотеатри
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'tickets_lists' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Квитки
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Mailbox
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inbox</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compose</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/read-mail.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Read</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
                <a href="{% url 'paige' %}" class="nav-link">
                  <i class="nav-icon far fa-image"></i>
                  <p>Список сторінок</p>
                </a>
          </li>
          <li class="nav-item">
                <a href="{% url 'email_campaign_list' %}" class="nav-link">
                  <i class="nav-icon far fa-image"></i>
                  <p>Email_campaign</p>
                </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
