{% extends 'admin/index.html' %}
{% load static %}

{% block title %}
    {% if cinema %}Редагувати кінотеатр{% else %}Додати кінотеатр{% endif %}
{% endblock %}

{% block content %}

<h1>{% if cinema %}Редагувати кінотеатр: {{ cinema.title }}{% else %}Додати новий кінотеатр{% endif %}</h1>

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12"> {# Можливо, col-md-12, якщо все в одній колонці #}
            <div class="card card-primary">
              <div class="card-header">
                         {# Заголовок картки залежить від режиму #}
                        <h3 class="card-title">{% if cinema %}Редагувати{% else %}Додати{% endif %} кінотеатр</h3> <br>
                    </div>


                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}


                        {% if cinema_form.non_field_errors %}<div class="alert alert-danger">{{ cinema_form.non_field_errors }}</div>{% endif %}
                        {% if block_seo_form.non_field_errors %}<div class="alert alert-danger">{{ block_seo_form.non_field_errors }}</div>{% endif %}
                        {% if gallery_form.non_field_errors %}<div class="alert alert-danger">{{ gallery_form.non_field_errors }}</div>{% endif %}
                        {% if picture_formset.non_form_errors %}<div class="alert alert-danger">{{ picture_formset.non_form_errors }}</div>{% endif %}

                        <div class="card-body">



                             <h2>Інформація про кінотеатр</h2>
                            {% include 'admin/card_forms/cinema_form.html' with form=cinema_form %}


                            <h2>SEO Інформація</h2>
                            {# Включаємо шаблон-фрагмент для полів форми SEO #}
                            {% include 'admin/card_forms/seo_form.html' with form=block_seo_form %}


                             <h3>Картинки галереї</h3>

                       <div id="gallery-formset">
                           <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS">
                            <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
                            <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
                            <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
                            {{ picture_formset.management_form }}
                            {% for form in picture_formset %}
                                {% include 'admin/card_forms/gallery_form.html' with form=form %}
                            {% endfor %}
                        </div>

                        <button id="add-picture-form" type="button" class="btn btn-success mt-2">Додати ще одне зображення</button>

                        <template id="empty-picture-form">
                            {% include 'admin/card_forms/gallery_form.html' with form=picture_formset.empty_form %}
                        </template>

                    </div> {# Кінець card-body #}



                        <div class="card-footer">

                             <button type="submit" class="btn btn-primary">
                                 {% if cinema %}Оновити{% else %}Створити{% endif %}
                             </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'js/add_btn.js' %}"></script>


{% endblock %}