{% extends 'admin/index.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cinema.css' %}">
{% block title %}Список кінотеатрів{% endblock %}

{% block content %}
<div class="container mt-5 position-relative">
  <h2 class="mb-4 text-center">Список кінотеатрів</h2>

  {% if cinemas %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for cinema in cinemas %}
        <div class="col">
          {% include 'admin/cinema/cinema_card.html' with cinema=cinema %}
        </div>
      {% endfor %}
    </div>

    {% if cinemas.has_other_pages %}
      <nav aria-label="Сторінки" class="mt-5">
        <ul class="pagination justify-content-center">
          {% if cinemas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">&laquo; Перша</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ cinemas.previous_page_number }}">Назад</a>
            </li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">Сторінка {{ cinemas.number }} з {{ cinemas.paginator.num_pages }}</span>
          </li>

          {% if cinemas.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ cinemas.next_page_number }}">Вперед</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ cinemas.paginator.num_pages }}">Остання &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

  {% else %}
    <p class="text-center text-muted">Немає доступних кінотеатрів.</p>
  {% endif %}
<br>
<a href="{% url 'add_cinema_create' %}" class="add-cinema-button" style="display: inline-flex; align-items: center; text-decoration: none; cursor: pointer; border: none; background: none;">
    <img src="{% static 'images/plus.svg' %}" alt="Додати кінотеатр" width="200" height="200" style="vertical-align: middle;">
    <span class="add-text" style="margin-left: 5px; vertical-align: middle;"> Додати кінотеатр </span>
</a>
</div>
{% endblock %}
