{# cinema_card.html #}
<div class="card h-100">
  {% if cinema.gallery.logos %}
    <img src="{{ cinema.gallery.logos.0.image.url }}" class="card-img-top" alt="{{ cinema.title }} Логотип" style="height: 250px; object-fit: contain;">
  {% else %}
    <div class="d-flex align-items-center justify-content-center" style="height: 250px; background-color: #e9ecef;">
      <span class="text-muted">Логотип відсутній</span>
    </div>
  {% endif %}

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ cinema.title }}</h5>

    <a href="{% url 'add_cinema_edit' cinema.id %}" class="btn btn-primary mt-auto">Детальніше</a>
    <a href="{% url 'delete_cinema' cinema.id %}" class="btn btn-primary mt-auto">Видалити</a>
  </div>
</div>