{% extends 'admin/index.html' %}
{% load static %}

{% block title %}
    {% if halls %}Редагувати зал{% else %}Додати зал{% endif %}
{% endblock %}

{# Стили перенесены в movie_css.css #}
ч
{% block content %}



<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{% if halls %}Редагувати{% else %}Додати{% endif %} Зал</h3> <br>
              </div>

              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  {% if halls_form.non_field_errors %}<div class="alert alert-danger">{{ halls_form.non_field_errors }}</div>{% endif %}
                  {% if block_seo_form.non_field_errors %}<div class="alert alert-danger">{{ block_seo_form.non_field_errors }}</div>{% endif %}
                  {% if gallery_form.non_field_errors %}<div class="alert alert-danger">{{ gallery_form.non_field_errors }}</div>{% endif %}
                  {% if picture_formset.non_form_errors %}<div class="alert alert-danger">{{ picture_formset.non_form_errors }}</div>{% endif %}

                  <div class="card-body">
                      <h2>Інформація про зал</h2>
                      {% include 'admin/card_forms/halls_form.html' with form=halls_form%}

                      <br>
                      {# Включаем шаблон для схемы зала (бывший sheme_image.html) #}
                      {% include 'admin/card_forms/sheme_image.html' %}
                      <br>

                      {# Включаем шаблон для баннера #}
                      {% include 'admin/card_forms/banner_image.html' %}
                      <br>

                      <h3>Картинки галереї</h3>
                      {% include 'admin/card_forms/gallery_form.html' %}

                      <br>
                      <h2>SEO Інформація</h2>
                      {# Включаем шаблон-фрагмент для полей формы SEO #}
                      {% include 'admin/card_forms/seo_form.html' with form=block_seo_form %}
                  </div>

                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                          {% if halls  %}Оновити{% else %}Створити{% endif %}
                      </button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>


<script>
    const DEFAULT_IMAGE_URL = "{% static 'images/картинка.png' %}";
</script>
<script src="{% static 'js/gallery.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/movie_css.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}