{# cinema_card.html #}
<div class="card h-100">
    {% if cinema.logo %}
        <img src="{{ cinema.logo.image.url }}" alt="Логотип {{ cinema.title }}">
    {% else %}
        <p>Логотип недоступний.</p>
    {% endif %}

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ cinema.title }}</h5>
    <a href="{% url 'cinema_detail' cinema.seo_block.seo_url %}" class="btn btn-primary mt-auto">Детальніше</a>
  </div>

  <div class="card-footer text-muted">
    {{ cinema.city }}
  </div>
</div>