{% extends 'main/index.html' %}

{% block title %}{{ cinema.title }}{% endblock %}

{% block content %}
    <h1>{{ cinema.title }}</h1>

    {% if cinema.picture %}
        <img src="{{ cinema.picture.image.url }}" alt="{{ cinema.picture.alter_txt }}">
    {% endif %}

    <p>Місто: {{ cinema.city }}</p>
    <p>Опис: {{ cinema.description|linebreaksbr }}</p>
    <p>Умови: {{ cinema.conditions|linebreaksbr }}</p>
    <p>Дата створення: {{ cinema.date }}</p>

    <h2>Зали кінотеатру:</h2>
    {% if halls %}
        <ul>
            {% for hall in halls %}
                <li>{{ hall.title }} - {{ hall.description|truncatechars:100 }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У цьому кінотеатрі немає залів.</p>
    {% endif %}

    <p><a href="{% url 'cinema_list' %}">Повернутися до списку кінотеатрів</a></p>
{% endblock %}