{% extends 'main/index1.html' %}

{% block title %}Список кинотеатров{% endblock %}

{% block content %}
    <h1>Список фільмів</h1>

    <ul>
        {% for movie in movies %}
            <li>
                {% if movie.main_picture %}
                    <img src="{{ movie.main_picture.image.url }}" alt="{{ movie.title }}" width="100">
                {% else %}
                    <span>Головне зображення відсутнє</span>
                {% endif %}
                <a href="{% url 'movie_detail' movie_slug=movie.seo_block.seo_url %}">{{ movie.title }}</a>
                <p>Дата показу: {{ movie.relise_date }}</p>
            </li>
            <hr>
        {% empty %}
            <li>Жодної кінострічки не знайдено.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if movies.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ movies.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
            </span>

            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}">next</a>
                <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}