{% extends 'main/index1.html' %}

{% block content %}
  {% load static %}

    <title>Сеанси</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">


    <table id="sessions-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Кінотеатр</th>
                <th>Зал</th>
                <th>Фільм</th>
                <th>Час</th>
                <th>Тривалість</th>
                <th>Дата</th>
            </tr>
        </thead>
    </table>

    <!-- jQuery + DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <!-- DataTables AJAX -->
 <script>
$(document).ready(function() {
    $('#sessions-table').DataTable({
        processing: true,
        serverSide: true,
        ajax: "{% url 'ajax_sessions_data/' %}", // Переконайтеся, що ім'я URL відповідає вашому urls.py
        columns: [
            // Для render_row_tools_column_def (перший стовпець)
            { data: null, orderable: false, searchable: false, defaultContent: '', className: 'dt-control' },

            // Стовпець ID (якщо ви його включили в column_defs, він має бути тут)
            // { data: 'id', visible: false }, // Прихований, якщо "visible": False в Django

            { data: 'cinema', title: 'Кінотеатр' },         // data має співпадати з 'name'
            { data: 'hall', title: 'Зал' },                 // data має співпадати з 'name'
            { data: 'movie', title: 'Фільм' },               // data має співпадати з 'name'
            { data: 'time_session', title: 'Час сеансу' },   // data має співпадати з 'name'
            { data: 'duration', title: 'Тривалість' },       // data має співпадати з 'name'
            { data: 'date', title: 'Дата' }                  // data має співпадати з 'name'
        ],
        order: [[1, 'asc']] // Сортувати за другим стовпцем (Кінотеатр), індекс 1
    });
});
</script>


{% endblock %}