<form method="post" enctype="multipart/form-data" class="news-form">
        {% csrf_token %}
        {{ news_formset.management_form }}
        <input type="hidden" name="which_form_is_it" value="this_is_form_news">
        <h2 style="text-align: center;"> Новости </h2>
         <div class="banner-wrapper" style="width: 80%;">
                <div class="banner-header">
                    <span>Размер: 1000x190</span>
                    <label class="switch">
                        <input type="checkbox" id="global-is-active-news">
                        <span class="slider round"></span>
                    </label>
                </div>

                <template id="empty-form-template-news">
                    <div class="banner-unit" style="display: none;">
                        {{ news_formset.empty_form.id }} {{ news_formset.empty_form.DELETE }}
                        <div class="image-block">
                            <img class="preview" src="#" alt="preview" style="display: none;" />
                            <label class="upload-btn">
                                {{ news_formset.empty_form.main_picture }}
                                <span>Добавить</span>
                            </label>
                            <button type="button" class="remove-banner-btn">✖</button>
                        </div>
                        <div class="input-group">
                            <label>URL:</label>
                            {{ news_formset.empty_form.url }}
                        </div>

                        <div class="input-group" style="display: none;">
                            {{ news_formset.empty_form.scroll_speed }}
                            {{ news_formset.empty_form.is_active }}
                        </div>
                    </div>
                </template>

                <div id="banner-container-news" class="banners-container">
                   {% for form_dict in news_form_data %}
                        {% with form=form_dict.form image_url=form_dict.image_url %}
                            <div class="banner-unit">
                                {{ form.id }} {{ form.DELETE }}
                                <div class="image-block">
                                    {% if image_url %}
                                        <img class="preview" src="{{ image_url }}" alt="preview" />
                                    {% else %}
                                        <img class="preview" src="#" alt="preview" style="display: none;" />
                                    {% endif %}
                                    <label class="upload-btn">
                                        {{ form.main_picture }}
                                        <span>Добавить</span>
                                    </label>
                                    <button type="button" class="remove-banner-btn">✖</button>
                                </div>
                                <div class="input-group">
                                    <label>URL:</label>
                                    {{ form.url }}
                                </div>

                                <div class="input-group" style="display: none;">
                                    {{ form.scroll_speed }}
                                    {{ form.is_active }}
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>

                <div class="global-controls">
                    <div style="display: flex; align-items: center;">
                        <label for="global-scroll-speed-news">Скорость вращения:</label>
                        <select id="global-scroll-speed-news" class="form-control">
                            <option value="5">5c</option>
                            <option value="10">10c</option>
                            <option value="15">15c</option>
                        </select>
                    </div>
                    <button type="submit" class="save-btn btn btn-primary" name="save_news_banners">Сохранить новости</button>
                </div>

            <button type="button" id="add-banner-form-news" class="btn btn-secondary">Добавить фото</button>
        </div>
    </form>