{% extends "main/index.html" %}

{% block content %}
  <h2>Профіль користувача</h2>
 {% if request.user.is_authenticated %}
  Привіт, {{ request.user.first_name|default:request.user.username }},
 {% else %}
  <a href="{% url "login" %}">Увійти</a>
 {% endif %}
  <p><strong>Ім'я користувача:</strong> {{ user.username }}</p>
  <p><strong>Електронна пошта:</strong> {{ user.email }}</p>
  <p><strong>Місто:</strong> {{ user.city }}</p>
  <p><strong>Мова:</strong> {{ user.get_languages_display }}</p>
  <p><strong>Стать:</strong> {{ user.get_gender_display }}</p>
  <p><strong>Дата народження:</strong> {{ user.date_of_birth }}</p>

  <a href="{% url 'edit_profile' %}"><button type="button" class="btn btn-primary">Змінити дані</button></a>

  <form action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Вийти</button>
  </form>
{% endblock %}
