{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CinoWave</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Bundle JS (Popper уже внутри) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
{% if baners and baners.0.pictures %}
  {% with background_image=baners.0.pictures.0.image.url %}
    <body data-bs-theme="light" class="has-bg" style="background-image: url('{{ background_image }}'); background-size: cover;">
  {% endwith %}
{% else %}
  <body data-bs-theme="light">
{% endif %}
{% include 'main/baner.html'%}
{% include 'main/navbar.html'%}

{% block content %}
     <div class="container mt-5">

            <!-- У прокаті -->
            <h2 class="mb-4">У прокаті</h2>
             <div class="container mt-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
              {% for movie in movies %}
                <div class="col">
                  {% include 'movie/movie_card.html' with movie=movie %}
                </div>
              {% endfor %}
            </div>
          </div>

          <!--  Незабаром -->
          <h2 class="mb-4">Скоро в кіно</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-5">
            {% for movie in coming_soon %}
              {% include 'movie/soon_card.html' with movie=movie %}
            {% empty %}
              <p>Жодного фільму незабаром не очікується.</p>
            {% endfor %}
          </div>

        <!--  Новини -->
        <h2 class="mb-4">Останні новини</h2>
         <div class="row row-cols-1 row-cols-md-2 g-4">
                                {% for item in news %}
                                        {% include 'main/news_card.html' with news=item %}
                                {% endfor %}
              </div>

{% endblock %}

<!-- Скрипты Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
 </div>
  </body>
</html>