{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Movie_store A Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Movie_store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'main/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="{% static 'main/js/responsiveslides.min.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
</script>
</head>
<body>
<div class="container">


</div>
	<!-- Банер сквозной
 		<div class="slider">
		<div class="header-banner-container">
         {% for banner in banners %}
         <div class="header-banner-slide">
           {% if banner.link_url %}
           <a href="{{ banner.link_url }}">
             <img src="{{ banner.image.url }}" alt="{{ banner.alt_text }}">
           </a>
           {% else %}
           <img src="{{ banner.image.url }}" alt="{{ banner.alt_text }}">
           {% endif %}
         </div>
         {% empty %}
         <p>Немає доступних банерів.</p>
         {% endfor %}
       </div> -->

	<div class="container_wrap">
		<div class="header_top">
			<div class="slider">
			<div class="callbacks_container">
				  <ul class="rslides" id="slider">
					<li><img src="{% static 'main/images/banner.jpg'%}" class="img-responsive" alt=""/>

					</li>
					<li><img src="{% static 'main/images/banner1.jpg'%}" class="img-responsive" alt=""/>
						<div class="button">
						  <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
						</div>
					</li>
					<li><img src="{% static 'main/images/banner2.jpg'%}" class="img-responsive" alt=""/>
						<div class="button">
						  <a href="#" class="hvr-shutter-out-horizontal">Watch Now</a>
						</div>
					</li>
				  </ul>
	         </div>

	</div>
		    <div class="col-sm-3 logo"><a href="{%url 'cinema_list' %}"><img src="{% static 'main/images/logo.png'%}" alt=""/></a></div>
		    <div class="col-sm-6 nav">


				 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						  <div class="container-fluid">
							<a class="navbar-brand" href="{%url 'movies_list' %}">Афіша</a>

							  <a class="navbar-brand" href="{%url 'session_list' %}">Розклад</a>

							  <a class="navbar-brand" href="{% url 'movies_soon' %}">Незабаром</a>

							  <a class="navbar-brand" href="{%url 'cinema_list' %}">Кінотеатри</a>

							  <a class="navbar-brand" href="#">Акції</a>


							<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
								  <ul class="navbar-nav">
								  <li class="nav-item dropdown">
							<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Про кінотеатр
							</button>
							<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">Новини</a></li>
							<li><a class="dropdown-item" href="#">Реклама</a></li>
							<li><a class="dropdown-item" href="{% url 'main:paiges_cinema_detail' slug='kafe-bar' %}">Кафе - Бар</a></li>
							<li><a class="dropdown-item" href="Kafe_Bar">VIP зал</a></li>
							<li><a class="dropdown-item" href="#">Мобільні додатки</a></li>
							<li><a class="dropdown-item" href="#">Детская комната</a></li>
							<li><a class="dropdown-item" href="#">Контакти</a></li>


								  </ul>
								</li>
							  </ul>
							</div>
						  </div>
				 </nav>

			</div>
			<div class="col-sm-3 header_right">
			   <ul class="header_right_box">
				 <li><img src="{% static 'main/images/p1.png'%}" alt=""/></li>
				 <li><p><a href="{%url 'profile' %}">Кабинет</a></p></li>
				 <li class="last"><i class="edit"> </i></li>
				 <div class="clearfix"> </div>
			   </ul>
			</div>
			<div class="clearfix"> </div>
	      </div>



	    <!--

	   > -->


      <div class="content">
      	{% block content %}
        <!-- Контент страницы -->
        {% endblock %}
      </div>
   </div>
 </div>

<div class="container">
 <footer id="footer">
 	<div id="footer-3d">
		<div class="gp-container">
			<span class="first-widget-bend"></span>
		</div>
	</div>
    <div id="footer-widgets" class="gp-footer-larger-first-col">
		<div class="gp-container">
            <div class="footer-widget footer-1">
            	<div class="wpb_wrapper">
					<img src="{% static 'main/images/f_logo.png'%}" alt=""/>
				</div>
	          <br>
	          <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
			  <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
			 </div>
			 <div class="footer_box">
			  <div class="col_1_of_3 span_1_of_3">
					<h3>Categories</h3>
					<ul class="first">
						<li><a href="#">Dance</a></li>
						<li><a href="#">History</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Information</h3>
					<ul class="first">
						<li><a href="#">New products</a></li>
						<li><a href="#">top sellers</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
		     </div>
		     <div class="col_1_of_3 span_1_of_3">
					<h3>Follow Us</h3>
					<ul class="first">
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Youtube</a></li>
					</ul>
					<div class="copy">
				      <p>&copy; 2015 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
			        </div>
		     </div>
		    <div class="clearfix"> </div>
	        </div>
	        <div class="clearfix"> </div>
		</div>
	</div>
  </footer>
</div>
</body>
</html>