{# news_card.html #}
{% load static %}
{% load i18n %}
<div class="col">

  <div class="card h-100 bg-dark text-white rounded shadow-sm">
    {% if news.main_picture %}
      <img src="{{ news.main_picture.image.url }}" class="card-img-top" alt="{{ news.title }}" style="height: 250px; object-fit: cover;">
    {% else %}
      <div class="d-flex align-items-center justify-content-center" style="height: 250px; background-color: #333;">
        <span class="text-white-50">{% trans "Зображення відсутнє" %}</span>
      </div>
    {% endif %}
    <div class="card-body d-flex flex-column">
      <h5 class="card-title"><a href="{% url 'main:paiges_news_detail' news.seo_block.seo_url %}" class="btn btn-primary mt-auto"> {{ news.title }} </a> </h5>
      <p class="card-text">{{ news.description|truncatewords:25 }}</p>
    </div>
    <div class="card-footer text-muted border-top border-secondary">
      {{ news.date|date:"d.m.Y" }}
    </div>
  </div>
</div>