{% extends 'main/index1.html' %}

{% block content %}
{% include 'main/banner.html' %}
<div class="col"> {# Этот col, вероятно, часть внешней сетки, мы его не трогаем, если он не должен быть черным #}
    {# Главный контейнер для новостей, который будет иметь черный фон и белый текст #}
    <div class="p-3 my-4 rounded shadow-lg bg-dark text-white"> {# Добавлены классы bg-dark, text-white, p-3, my-4, rounded, shadow-lg #}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4 justify-content-center">
            {% for item in news %}
                {# news_card.html уже настроен на bg-dark и text-white внутри себя, поэтому здесь не нужно повторять #}
                {% include 'main/news_card.html' with news=item %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}