{% extends "main/index1.html" %}
{% block title %}Скидання пароля{% endblock %}
{% block content %}
<h1>Скидання пароля</h1>
{% if validlink %}
<p>Будь ласкаб введіть ваш новий пароль:</p>
<form method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Change my password" /></p>
</form>
{% else %}
<p>
118 / 5 000
Посилання для зміни пароля було недійсним, можливо, тому, що воно вже було зроблено
використовувався. Будь ласка, надішліть запит на скидання нового пароля.</p>
{% endif %}
{% endblock %}