{% extends 'main/index1.html' %}

{% block title %}Список кинотеатрів{% endblock %}

{% block content %}

  <h1 class="mb-4">Список фільмів</h1>

  <div class="cards-grid-container">

    {% for movie in movies %}
      {% include 'movie/movie_card.html' with movie=movie %}
    {% endfor %}

  </div> <!-- 👈 Добавлено закрытие блока -->

  <div class="pagination mt-4 text-center">
    <span class="step-links">
      {% if movies.has_previous %}
        <a class="btn btn-outline-secondary btn-sm" href="?page=1">&laquo; перша</a>
        <a class="btn btn-outline-secondary btn-sm" href="?page={{ movies.previous_page_number }}">назад</a>
      {% endif %}

      <span class="mx-2">
        Сторінка {{ movies.number }} з {{ movies.paginator.num_pages }}
      </span>

      {% if movies.has_next %}
        <a class="btn btn-outline-secondary btn-sm" href="?page={{ movies.next_page_number }}">далі</a>
        <a class="btn btn-outline-secondary btn-sm" href="?page={{ movies.paginator.num_pages }}">остання &raquo;</a>
      {% endif %}
    </span>
  </div>

  <style>
    .cards-grid-container {
      max-width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px; /* space between cards */
    }
  </style>

{% endblock %}