{# admin/card_forms/cinema_form.html #}
{% load static %}
{% load i18n %}

<div class="card-body form-block">
  <div class="form-group field-row-aligned">
    <label class="label-wrapper">{% translate form.title.label %}</label>
    <div class="input-wrapper">{{ form.title }}</div>
  </div>

  <div class="form-group field-row-aligned">
    <label class="label-wrapper">{% translate form.description.label %}</label>
    <div class="input-wrapper">{{ form.description }}</div>
  </div>

  <div class="form-group field-row-aligned">
    <label class="label-wrapper">{% translate form.conditions.label %}</label>
    <div class="input-wrapper">{{ form.conditions }}</div>
  </div>

  <div class="form-group field-row-aligned">
    <label class="label-wrapper">{% translate form.city.label %}</label>
    <div class="input-wrapper">{{ form.city }}</div>
  </div>
</div>
<style>
    .form-block {
  width: 100%;
  max-width: 100%;
}

.field-row-aligned {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label-wrapper {
  min-width: 200px;
  margin-right: 15px;
  text-align: left;
  font-weight: bold;
}

.input-wrapper {
  flex-grow: 1;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}
</style>