{% load static %}
{% load i18n %}
{{ picture_formset.management_form }}



<div id="pictures-formset">
    {% for form in picture_formset %}
        <div class="gallery-image-form border p-3 mb-3" data-exists="true" data-form-type="gallery">

            {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}

            <div class="form-group field-row-aligned">
                <div class="input-wrapper flex-grow-1 d-flex flex-column align-items-center">
                    <div class="image-preview-container">
                        {% if form.image.value %}
                            <img src="{{ form.image.value.url }}" alt="Загруженное изображение">
                        {% else %}
                            <img src="{% static 'images/картинка.png' %}" alt="Изображение не загружено">
                        {% endif %}

                        <button type="button" class="btn btn-danger btn-sm remove-item-cross" title="Видалити зображення" style="display: none;">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="custom-file-input-wrapper">
                        {{form.image}}
                        <label class="btn btn-secondary custom-file-button">{% translate "Додати" %} </label>
                    </div>

                    {% if form.errors.image %}
                        <div class="alert alert-danger">{{ form.errors.image }}</div>
                    {% endif %}
                </div>
            </div>

            <button type="button" class="btn btn-light btn-sm remove-gallery-btn mt-2" style="display :none" > {% translate "Видалити" %}</button>

             {{ form.id }}
            {{ form.image_type }}
            {{ form.gallery }}
            <div class="delete-checkbox-hidden-field" style="display :none">
    {{ form.DELETE }}
</div>
        </div>
    {% endfor %}
</div>

<button id="add-picture-form" type="button" class="btn btn-success mt-2">{% translate "Додати ще одне зображення" %}</button>

<div id="empty-form" style="display: none;">
    <div class="gallery-image-form border p-3 mb-3" data-exists="false" data-form-type="gallery">

        <div class="form-group field-row-aligned">
            <div class="input-wrapper flex-grow-1 d-flex flex-column align-items-center">
                <div class="image-preview-container">
                    <img src="{% static 'images/картинка.png' %}" alt="Изображение не загружено">

                    <button type="button" class="btn btn-danger btn-sm remove-item-cross" title="Видалити зображення" style="display: none;">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

                <div class="custom-file-input-wrapper">
                    {{picture_formset.empty_form.image}}
                    <label class="btn btn-secondary custom-file-button"> {% translate "Додати" %}</label>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-light btn-sm remove-gallery-btn mt-2" style="display :none"> {% translate "Видалити" %} </button>

         {{ picture_formset.empty_form.id }}
        {{ picture_formset.empty_form.image_type }}
        {{ picture_formset.empty_form.gallery }}
        <div class="delete-checkbox-hidden-field" style="display :none">
            {{ picture_formset.empty_form.DELETE }}
        </div>
    </div>
</div>
