{# admin/card_forms/hall_form.html #}
{% load static %}
{% load i18n %}
{# HallsForm: seo_block, title, cinema, description, rows, seats_row #}



<div class="card-body">
  <div class="form-group">
    {% translate form.title.label_tag %}
    {{ form.title }}
    {% if form.title.help_text %}<small class="form-text text-muted">{{ form.title.help_text }}</small>{% endif %}
    {% for error in form.title.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {% translate form.cinema.label_tag %}
    {{ form.cinema }}
    {% if form.cinema.help_text %}<small class="form-text text-muted">{{ form.cinema.help_text }}</small>{% endif %}
    {% for error in form.cinema.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {% translate form.description.label_tag %}
    {{ form.description }}
    {% if form.description.help_text %}<small class="form-text text-muted">{{ form.description.help_text }}</small>{% endif %}
    {% for error in form.description.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>
<div class="card-body">
  <div class="form-group">
    {{form.scheme_hall.label_tag }}
    {{ form.scheme_hall}}
    {% if form.scheme_hall.help_text %}<small class="form-text text-muted">{{ form.scheme_hall.help_text }}</small>{% endif %}
    {% for error in form.scheme_hall.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {% translate form.rows.label_tag %}
    {{ form.rows }}
    {% if form.rows.help_text %}<small class="form-text text-muted">{{ form.rows.help_text }}</small>{% endif %}
    {% for error in form.rows.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {% translate  form.seats_row.label_tag %}
    {{ form.seats_row }}
    {% if form.seats_row.help_text %}<small class="form-text text-muted">{{ form.seats_row.help_text }}</small>{% endif %}
    {% for error in form.seats_row.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>
<style>
    .form-block {
  width: 100%;
  max-width: 100%;
}

.field-row-aligned {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label-wrapper {
  min-width: 200px;
  margin-right: 15px;
  text-align: left;
  font-weight: bold;
}

.input-wrapper {
  flex-grow: 1;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}
</style>