{# admin/card_forms/hall_form.html #}
{% load static %}

{# HallsForm: seo_block, title, cinema, description, rows, seats_row #}



<div class="card-body">
  <div class="form-group">
    {{ form.title.label_tag }}
    {{ form.title }}
    {% if form.title.help_text %}<small class="form-text text-muted">{{ form.title.help_text }}</small>{% endif %}
    {% for error in form.title.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {{ form.cinema.label_tag }}
    {{ form.cinema }}
    {% if form.cinema.help_text %}<small class="form-text text-muted">{{ form.cinema.help_text }}</small>{% endif %}
    {% for error in form.cinema.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {{ form.description.label_tag }}
    {{ form.description }}
    {% if form.description.help_text %}<small class="form-text text-muted">{{ form.description.help_text }}</small>{% endif %}
    {% for error in form.description.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {{ form.rows.label_tag }}
    {{ form.rows }}
    {% if form.rows.help_text %}<small class="form-text text-muted">{{ form.rows.help_text }}</small>{% endif %}
    {% for error in form.rows.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>

<div class="card-body">
  <div class="form-group">
    {{ form.seats_row.label_tag }}
    {{ form.seats_row }}
    {% if form.seats_row.help_text %}<small class="form-text text-muted">{{ form.seats_row.help_text }}</small>{% endif %}
    {% for error in form.seats_row.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
  </div>
</div>