{% extends 'admin/index.html' %}
{% load static %}
{% load i18n %}
{% block title %}Додати фільм{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/movie_css.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary" style="width: 80%; margin: 0 auto;">
          <div class="card-header">
            <h3 class="card-title">{% translate 'Додати фільм' %} </h3>
          </div>
           <div class="tabs-navigation">
                            <button type="button" class="tab-button active" data-tab-target="#ukrainianTab">
                                Українська
                            </button>
                            <button type="button" class="tab-button" data-tab-target="#russianTab">
                                Русский
                            </button>
                        </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            {% if movie_form.non_field_errors %}
              <div class="alert alert-danger">{{ movie_form.non_field_errors }}</div>
            {% endif %}
            {% if block_seo_form.non_field_errors %}
              <div class="alert alert-danger">{{ block_seo_form.non_field_errors }}</div>
            {% endif %}
            {% if gallery_form.non_field_errors %}
              <div class="alert alert-danger">{{ gallery_form.non_field_errors }}</div>
            {% endif %}
            {% if picture_formset.non_form_errors %}
              <div class="alert alert-danger">{{ picture_formset.non_form_errors }}</div>
            {% endif %}
            {% if main_picture_form.non_field_errors %}
              <div class="alert alert-danger">{{ main_picture_form.non_field_errors }}</div>
            {% endif %}

            <div class="card-body">



               <div class="tab-content tab-content-compact">
                                          <div id="ukrainianTab" class="tab-pane active">

                                                  {% include 'admin/movies_lists/movie_lang/movie_uk.html'   %}

                                          </div>
                                            <div id="russianTab" class="tab-pane">
                                                {% include 'admin/movies_lists/movie_lang/movie_ru.html'   %}

                                          </div>
                                    </div>


                    {% include 'admin/card_forms/main_image.html'  %}


              {# URL трейлера #}
              <div class="form-group field-row-aligned">
                <div class="label-wrapper text-right">
                  {% translate movie_form.url_trailer.label_tag %}
                </div>
                <div class="input-wrapper flex-grow-1">
                  {{ movie_form.url_trailer }}
                  {% if movie_form.url_trailer.help_text %}<small class="form-text text-muted">{{ movie_form.url_trailer.help_text }}</small>{% endif %}
                  {% for error in movie_form.url_trailer.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                </div>
              </div>


              <div class="form-group field-row-aligned">
                  <div class="label-wrapper text-right align-self-start" style="min-width: 120px;">
                      <h3>{% translate 'Формати:' %}</h3>
                  </div>
                  <div class="input-wrapper flex-grow-1 d-flex align-items-center">
                      <div class="form-check me-4">
                          {{ movie_form.is_2d }}
                          <label class="form-check-label" for="{{ movie_form.is_2d.id_for_label }}">{{ movie_form.is_2d.label }}</label>
                          {% for error in movie_form.is_2d.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                      </div>
                      <div class="form-check me-4">
                          {{ movie_form.is_3d }}
                          <label class="form-check-label" for="{{ movie_form.is_3d.id_for_label }}">{{ movie_form.is_3d.label }}</label>
                          {% for error in movie_form.is_3d.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                      </div>

                      <div class="form-check">
                          {{ movie_form.is_imax }}
                          <label class="form-check-label" for="{{ movie_form.is_imax.id_for_label }}">{{ movie_form.is_imax.label }}</label>
                          {% for error in movie_form.is_imax.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                      </div>
                  </div>
              </div>

              {% if movie_form.is_2d.help_text or movie_form.is_3d.help_text or movie_form.is_imax.help_text %}
                  <small class="form-text text-muted">
                      {% if movie_form.is_2d.help_text %}{{ movie_form.is_2d.help_text }}{% endif %}
                      {% if movie_form.is_3d.help_text %}{{ movie_form.is_3d.help_text }}{% endif %}
                      {% if movie_form.is_imax.help_text %}{{ movie_form.is_imax.help_text }}{% endif %}
                  </small>
              {% endif %}


<div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="d-flex flex-wrap justify-content-between align-items-start"> {# container-1 #}

                {# release day #}
                <div class="form-group flex-item">
                  <div class="field-row d-flex align-items-center">
                    <div class="label-wrapper me-3 text-right">
                      {% translate movie_form.relise_date.label_tag %}
                    </div>
                    <div class="input-wrapper flex-grow-1">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                          </span>
                        </div>
                        {{ movie_form.relise_date }}
                      </div>
                    </div>
                  </div>
                  {% if movie_form.relise_date.help_text %}<small class="form-text text-muted">{{ movie_form.relise_date.help_text }}</small>{% endif %}
                  {% for error in movie_form.relise_date.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                </div>


                {# age limit#}
                <div class="form-group flex-item">
                  <div class="field-row d-flex align-items-center">
                    <div class="label-wrapper me-3 text-right">
                      {% translate movie_form.age_limit.label_tag %}
                    </div>
                    <div class="input-wrapper flex-grow-1">
                      {{ movie_form.age_limit }}
                    </div>
                  </div>
                  {% if movie_form.age_limit.help_text %}<small class="form-text text-muted">{{ movie_form.age_limit.help_text }}</small>{% endif %}
                  {% for error in movie_form.age_limit.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                </div>

                {# gallery #}
                <div class="form-group flex-item">
                  <div class="field-row d-flex align-items-center">
                    <div class="label-wrapper me-3 text-right">
                      {% translate movie_form.gallery.label_tag %}
                    </div>
                    <div class="input-wrapper flex-grow-1">
                      {{ movie_form.gallery }}
                    </div>
                  </div>
                  {% if movie_form.gallery.help_text %}<small class="form-text text-muted">{{ movie_form.gallery.help_text }}</small>{% endif %}
                  {% for error in movie_form.gallery.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                </div>

                {# ganre #}


                <div class="form-group flex-item">
                  <div class="field-row d-flex align-items-center">
                    <div class="label-wrapper me-3 text-right">
                     {% translate  movie_form.genre.label_tag %}
                    </div>
                    <div class="input-wrapper flex-grow-1" style="width: 20%;">
                      {{ movie_form.genre }}
                    </div>
                  </div>
                  {% if movie_form.genre.help_text %}<small class="form-text text-muted">{{ movie_form.genre.help_text }}</small>{% endif %}
                  {% for error in movie_form.genre.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
                </div>

              </div>

              </div>

              <h3>{% translate 'Картинки галереї' %}</h3>

            {% include 'admin/card_forms/gallery_form.html'  %}


            {% include 'admin/card_forms/seo_form.html' with form=block_seo_form %}

            <div class="card-footer text-center">
              <button type="submit" class="btn btn-primary">{% translate 'Створити' %} </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



<script>

    const DEFAULT_IMAGE_URL = "{% static 'images/картинка.png' %}";
</script>

<script src="{% static 'admins/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admins/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admins/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admins/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'admins/plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'admins/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'admins/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script src="{% static 'admins/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'admins/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'admins/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'admins/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'admins/plugins/dropzone/min/dropzone.min.js' %}"></script>
<script src="{% static 'admins/dist/js/adminlte.min.js' %}"></script>


<script src="{% static 'js/tab.js' %}"></script>
<style>
    .tabs-navigation {
        display: flex;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }

    /* Стилі для кнопок вкладок */
    .tab-button {
        background-color: #f1f1f1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: 0.3s;
        font-size: 17px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-right: 2px; /* Невеликий відступ між кнопками */
    }

    /* Стилі при наведенні на кнопку вкладки */
    .tab-button:hover {
        background-color: #ddd;
    }

    /* Стилі для активної кнопки вкладки */
    .tab-button.active {
        background-color: #e0e0e0;
        border-bottom: 3px solid #007bff; /* Колір виділення активної вкладки */
        color: #007bff;
    }

    /* Стилі для вмісту вкладок */
    .tab-pane {
        display: none; /* За замовчуванням всі вкладки сховані */
        padding: 20px 0;
        border-top: none;
    }

    /* Стилі для активної вкладки */
    .tab-pane.active {
        display: block; /* Активна вкладка видима */
    }

</style>
{% endblock %}